body {
  font-size: 30px;
  overflow: auto;
}

li {
  margin: .5px;
  margin-top: 0;
  margin-left: none;
  border: $border-small;
  box-shadow: 0px 0px 1px 1px gray;
}
img {
  max-width: 100%;
  min-width: 100%;
}

.banner {
  @include flex-align-center;
  width: 100%;
  height: 100px;
  font-family: Roboto, Helvetica, "Open Sans", sans-serif;
  color: $charcoal-gray;
  background-color: $navy-blue;
  border: $border-small;
  box-shadow: 2px 2px 2px $charcoal-gray;
  margin-bottom: 1px;
}

.gallery {
  background-color: $blue-gray;
}

#images {
  @include flex-align-center;
  flex-flow: row wrap;
  flex-direction: row;
  li {
    display: flex;
  }
}
